div#poll-container {
    background-color: #00FF00;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    min-height: 800px;
    padding-top: 300px;
}
#poll-options{
    max-width: 600px;
    margin: 0 auto;
}